<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>${input.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark myNavbar">
        <a class="navbar-brand" href="/">Poblacion Places</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Explore
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <for(p in input.places)>
                    <a class="dropdown-item" href="/places/${p.id}">${p.name}</a>
                </for>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addplace">Add Place</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
            </ul>
        </div>
    </nav>
    <div class="container" style="padding-top:15vh">
    <h1> Add another page </h1>
        <form class="form" action="/addplace" method="POST"  enctype="multipart/form-data">
            <div class="form-group">
                <label>Name of Place</label>
                <input type="text" name="name" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Address</label>
                <input type="text" name="address" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Place description</label>
                <input type="text" name="description" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Add image</label><br>
                <input type="file" name="file">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>