<!doctype html>
    <head>
        <meta charset="UTF-8"/>
        <title>Loco Manuk - Poblacion Places</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Corben:700" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
        
    </head>
    <body>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/loco">Places</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/comment">Comment</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <div id="banner-loco" class="banner">
                <div class="banner-text">Loco Manuk</div>
        </div>
        <div class="default-div resto-description">Loco Manuk, located in Poblacion, Makati offers that uniquely flavourful and delectable Latin Asian taste. Our menu showcases our Chicken and Churros, Baos, Ribs, and more. The Loco Manuk experience is not complete without the chicken cooked over a wood fire with a light smoke of caimito and mahogany wood. We also serve specialty cocktails. This wicked twist and the rest of the menu was crafted by our Peruvian Chef, Danny Parreno.</div>
        <div class="default-div" id="bestseller-div">
            <div id="title-div">BESTSELLERS</div>
            <div class="dishes-div flex">
                <div class="card-dish animate" id="first-dish">
                    <div class="middle img-div"><img src="/images/loco-chicken.jpg" class="img-dish"></div>
                    <div class="middle dishtext-div">Wood Roasted Chicken</div>
                </div>
                <div class="card-dish">
                        <div class="middle img-div"><img src="/images/loco-pork.jpg" class="img-dish"></div>
                        <div class="middle dishtext-div">Red Braised Pork Ribs Rice Bowl</div>
                </div>
                <div class="card-dish">
                        <div class="middle img-div"><img src="/images/loco-sandwich.jpg" class="img-dish"></div>
                        <div class="dishtext-div middle">Churro Sandwich</div>
                </div>
        
            </div>
        </div>
        <div class="default-div">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3861.577155838508!2d121.02883751420903!3d14.56615658982444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c902fbc76b45%3A0xc823ad22bbdb6b72!2sLoco+Manuk!5e0!3m2!1sen!2sph!4v1545028036333" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </body>
    <footer>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="js/waypoint.js"></script>
        <script src="js/script.js"></script> -->
    </footer>
</html>